.main-page {
  padding: 1em;
}

.character-card {
  background-color: #243142;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.card-header {
  display: flex;
  flex-direction: row; /* Change to row to enable side-by-side layout */
}

.card-header > div {
  flex: 1; /* Each div takes up equal space */
  margin-right: 10px; /* Add some spacing between the columns */
}

.card-header .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-self: start;
  margin-top: 10px;
}


.info-data{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

hr{
  width: 100%;
  opacity: 40%;
}
.info-row{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  gap: 1em;
  background-color: #58759b;
  margin-bottom: 1em;
  padding: 10px;
}



.card-header .info p {
  margin: 0;
}

.card-header .info button {
  align-self: flex-end; /* Align close button to the right */
}

.show-info .info {
  display: block;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  justify-items: center;
}

.filters {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.filter {
  background-color: #384d67;
  padding: 15px;
  border-radius: 8px;
}
